@font-face {
    font-family: 'belinda';
    src: url('../fonts/belinda/belinda.woff') format('woff'),
         url('../fonts/belinda/belinda.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cabin';
    src: url('../fonts/cabin/cabin.woff') format('woff'),
         url('../fonts/cabin/cabin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-heavy';
    src: url('../fonts/nexa/nexa-heavy.woff') format('woff'),
         url('../fonts/nexa/nexa-heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa';
    src: url('../fonts/nexa/nexa.woff') format('woff'),
         url('../fonts/nexa/nexa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/open-sans.ttf') format('ttf'),
         url('../fonts/open-sans/open-sans.woff') format('woff'),
         url('../fonts/open-sans/open-sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt-sans';
    src: url('../fonts/pt-sans/pt-sans.ttf') format('ttf'),
         url('../fonts/pt-sans/pt-sans.woff') format('woff'),
         url('../fonts/pt-sans/pt-sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu/ubuntu.ttf') format('ttf'),
         url('../fonts/ubuntu/ubuntu.woff') format('woff'),
         url('../fonts/ubuntu/ubuntu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
